NODE_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=userdb
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres123
JWT_SECRET=your_super_secret_jwt_key
RABBITMQ_URLS=amqp://rabbitmq:rabbitmq123@localhost:5672
RABBITMQ_QUEUE=user_queue
